.dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4682A9;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
}

.dropdown-teacher-name {
    margin: 0;
    font-weight: 650;
    padding-right: 25px;
}

.dropdown-log-out {
    cursor: pointer;
    font-weight: 600;
    padding: 10px 30px 12px 30px;
    border-radius: 15px;
    background-color: #4682A9;
    color: white;
}

.dropdown-log-out:hover {
    background-color: #91C8E4;
    transition: 0.2s ease-in-out;
}