@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* whole page */
.login-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #91C8E4;
}

/* container on the left side */
.left-container {
    flex: 1;
    background-image: url("./background-image.png");
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
}

/* .left-container */
.text-container {
    color: white;
    font-family: "Poppins";
    line-height: normal;
    z-index: 12;
}

/* title text on the left-container */
.title-wrapper {
    font-size: 5rem;
    font-weight: 700;
}
/* descrition, below title text */
.description-wrapper {
    font-size: 2rem;
    padding-bottom: 30vh;
    font-weight: 700;
}

/* container on the right */
.right-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container containing the overlapping rectangles */
.overlapping-rectangles-container {

    /* background-color: brown; */
    /* border: 10px solid brown; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* overlapping rectangles */
.rectangle-top,
.rectangle-bottom {
    width: 25vw;
    height: 70vh;
    border-radius: 15px;
}

/* top rectangle */
.rectangle-top {
    position: relative;
    background-color: #fff;
    /* left: 10%; */
    z-index: 2;
}

/* bottom-rectangle */
.rectangle-bottom {
    position: absolute;
    background-color: #4682A9;
    top: 10vh;
    z-index: 1;

    left: 10%;
    top: 10%;
}