body, html {
  height: 100%;
  margin: 0;
}

.container {
  background-color: #91C8E4;
  display: flex;
  height: 100%;
}

/* Left Container & Contents of it */
.left-container {
  background-image: url(https://images.unsplash.com/photo-1544535830-9df3f56fff6a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  width: 50%; /* Adjusted to 50% for responsiveness */
  height: 100vh;
  background-size: cover; 
  background-position: center;
}

.title-container {
  font-size: 6vw; /* Using vw units for responsive font size */
  color: #ffffff;
  font-family: "Helvetica";
  font-weight: 700;
  display: flex;
  margin-top: 35vh;
  justify-content: center;
  align-items: center;
}

.description-container {
  font-size: 1.2vw; /* Using vw units for responsive font size */
  color: #ffffff;
  font-family: "Helvetica";
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1vh;
}

/* Right Container & Contents of it */
.right-container {
  flex: 1;
  height: 100vh; /* Set a fixed height for the right container */
  position: relative; /* Ensure the position is relative for absolute positioning within it */
}

.top-rectangle,
.bottom-rectangle {
  width: 30vw; /* Using vw units for responsive width */
  height: 70vh;
  position: absolute;
  margin-left: -15vw; /* Using vw units for responsive margin */
}

.top-rectangle {
  z-index: 2;
  background-color: #ffffff;
  width: 30vw; /* Adjusted for responsiveness */
  border-radius: 15px;
  left: 55%;
  top: 15%;
  display: flex;
}

.bottom-rectangle {
  z-index: 1;
  background-color: #4682a9;
  width: 30vw; /* Adjusted for responsiveness */
  border-radius: 15px;
  left: 60%;
  top: 21%;
}

.login-heading-wrapper {
  color: #4682a9;
  font-size: 2.5vw; /* Using vw units for responsive font size */
  font-family: "Helvetica";
  font-weight: 600;
  margin-left: 3vw; /* Using vw units for responsive margin */
}

.username-wrapper,
.password-wrapper {
  color: #808080b3;
  font-size: 1.3vw; /* Using vw units for responsive font size */
  font-weight: 500;
  margin-left: 3vw; /* Using vw units for responsive margin */
}

.username-input-box,
.password-input-box {
  border: 0;
  background-color: transparent;
  width: 23vw; /* Using vw units for responsive width */
  font-size: 1.2vw; /* Using vw units for responsive font size */
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 3vh;
  border-bottom: 1px solid #cccccc;
  color: #4682a9;
}

.username-input-box:focus,
.password-input-box:focus {
  outline: 0;
}

.login-button {
  color: #ffffff;
  font-size: 1.8vw; /* Using vw units for responsive font size */
  font-weight: 700;
  background-color: #4682a9;
  margin-left: 3vw; /* Using vw units for responsive margin */
  border-radius: 15px;
  height: 8vh;
  width: 23vw; /* Using vw units for responsive width */
  font-family: "Helvetica";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute; /* Position the button absolutely within the right container */
  bottom: 4vh; /* Adjusted for responsiveness */

  border: 0;
}

.login-button:hover {
  background-color: #91C8E4;
}

.email-error {
  color: red;
  font-size: 1.1vw; /* Using vw units for responsive font size */
  position: absolute;
  bottom: 37vh; /* Adjusted for responsiveness */
}

.password-error {
  margin-top: 4vh;
  color: red;
  font-size: 1.1vw; /* Using vw units for responsive font size */
  position: absolute;
  bottom: 17vh; /* Adjusted for responsiveness */
}

.toggle-password {
  margin-top: -8vh; /* Adjusted for responsiveness */
  padding-left: 21vw; /* Using vw units for responsive padding */
  cursor: pointer;
}
