@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@400;600&family=Roboto+Slab&display=swap');

.main-content {
    /* flex: 5; */
    display: flex;
    /* padding: 20px; */
    width: 100%;
    flex-direction: column;
}

.students-text-wrapper {
    /* padding-top: 25px; */
    /* margin-left: 60px; */
    font-family: "Poppins";
    color: #4682A9;
    font-weight: 600;
    font-size: 1.8rem;
    /* flex: 1; */
    justify-self: flex-start;
    align-self: flex-start;
}

.students-display-area {
    margin-left: 60px;
    padding-top: 40px;
    font-family: "Poppins";
    font-size: 1.6rem;
    color: gray;
    font-weight: 400;
    flex: 1;
    /* justify-self: ; */
    align-self: flex-start;
}

.sidebar-students-display-area {
    display: flex;
}

.submit-button-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.submit-attendance-button,
.submit-attendance-button:hover {
    background-color: #749BC2;
    padding: 20px 100px;
    border-radius: 15px;
    border: 0;
    margin: 50px 0px;
    /* align-self: center; */
    /* justify-self: center; */
    font-size: 2rem;
    font-family: "Poppins";
    color: #ffffffff;
}

.submit-attendance-button:hover {
    background-color: #4682A9;
    cursor: pointer;
}