@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@300;500&family=Roboto+Slab&display=swap');
/* Fonts Import */


/* interactive button in the sidebar: expanded and non-expanded states */
/* *
  * sidebar-expandable -> non expanded state
  * sidebar-expandable-expanded -> expanded state
  */

.sidebar-expandable,
.sidebar-expandable-expanded {
    display: flex;
    background-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    
    border: 2px solid #ffffff;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    border-radius: 15px;
    margin: 3vh 0;

    box-shadow: 0 5px 10px rgb(103, 103, 103);

}

.sidebar-expandable-expanded {
    color: #FFFFFFFF;
    box-shadow: 0 0 0;
}

.sidebar-expandable {
    color: #FFFFFF80;
}

.sidebar-expandable:hover {
    box-shadow: 0 0 5px;
    color: #FFFFFFFF;

}

.sidebar-expandable .dropdown-icon {
    justify-self: end;
}

/* list containing sidebar text and icon as items */
.sidebar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* sidebar list item */
.sidebar-list li {
    list-style: none;
    position: relative;
    padding: 0 10px;
}

/* contents(div) of the expandable */
.expandable-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}