@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@300;500;600&family=Roboto+Slab&display=swap');

.sidebar {
    background-color: #91C8E4;
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    max-width: 18vw;
    box-sizing: content-box;
    min-height: 100vh;

    font-family: 'Poppins';
    font-weight: #FFFFFF;
    color: #FFFFFF;
}

 h1{
    margin-top: -10px;
 }
